$gray: rgb(226, 226, 226);

.game-layout {
    $height: 52px;

    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;

    &__nav {
        width: 100%;
        background-color: white;
        padding: 0 16px;
        display: flex;
        justify-content: center;
        border-bottom: solid 1px $gray;
        height: $height;
        box-sizing: border-box;
        position: fixed;
        z-index: 1000;

        -webkit-user-select: none;
        -webkit-app-region: drag;

        &__content {
            width: 100%;
            max-width: 1024px;
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
        }

        &__buttons {
            margin-left: 36px;
        }

        &__button {
            border: none;
            background-color: transparent;
            font-size: inherit;
            font-family: inherit;
            cursor: pointer;
            padding: 2px 4px;

            &:not(:disabled):hover {
                opacity: 0.75;
            }
        }

        &__back {
            color: inherit;
            font-size: 0.8em;
        }

        &__title {
            font-family: 'Roboto SerifVariable';
            font-size: 1.2em;
            font-weight: 550;
            display: flex;
            gap: 12px;
            align-items: center;
        }

        p {
            margin: 0;
        }
    }

    &__content {
        margin-top: $height;
    }

    &--large {
        $height: 72px;

        .game-layout {
            &__nav {
                height: $height;

                &__title {
                    font-size: 1.6em;
                }
            }

            &__content {
                margin-top: $height;
            }
        }
    }
}