@import '../../styles/utils/variables';
@import '../../styles/utils/animations';

.game {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    &--loading {
        pointer-events: none;
        animation: pulse-opacity 1.5s linear 0s infinite;
    }
}

.found {
    border: solid 1px $color--gray;
    padding: 6px 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    height: calc(1em + 16px);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 6px;
    align-items: center;
    cursor: pointer;

    &__words {
        align-items: center;
        display: flex;
        overflow: hidden;
        gap: 8px;
        text-transform: capitalize;
    
        &:empty::after {
            content: 'Your words...';
            font-size: 0.9em;
            opacity: 0.55;
        }

        p {
            margin: 0;
        }
    }
}

.buttons {
    display: flex;
    gap: 12px;
}

.input {
    &__letter {
        &--obligatory {
            color: $color--spelling-bee;
        }
    }
}