@import '../../styles/utils/variables';
@import '../../styles/utils/animations';

.page {
    background-color: $color--letter-boxed--faded;
    padding: 24px;
    display: grid;
    grid-template-rows: auto auto auto auto 1fr auto;
    gap: 24px;

    &--loading {
        & > * {
            pointer-events: none;
            animation: pulse-opacity 1.5s linear 0s infinite;
        }
    }
}

.guess-count {
    font-weight: 600;
    margin: 0;
    height: 1.2em;
}

.guesses {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 0;
    height: 1.2em;

    .guess {
        margin: 0;
        text-transform: uppercase;

        &:not(:last-child)::after {
            content: '-';
            margin-left: 12px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
}

.goal {
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 1.1em;
    height: 1.3em;

    p {
        margin: 0;
        height: 1.3em;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}